<!DOCTYPE html>
<html lang="en">
<head><!--Meta information-->
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"><!--makes the website look good on all devices and screen resolutions-->
    <link rel="stylesheet" href="gameStyle.css">
    <script type = "text/javascript" scr="../dog.js"></script>
    <title>Bones Game</title>
</head>
<body>
    <canvas id="dog" width="640" height="640"></canvas>
    <script>draw()</script>
</body>
</html>