<html>
    <head>
        <title>Dog Game</title>
    </head>
    
    <canvas id="dog" width="640" height="640"></canvas>

    <style>
        canvas{
            display: block;
            margin: 0 auto;
            border: 4px solid #A0522D;
            background:url(img/ground.png);
            background-size:100% 100%;   
            
        }
        body, html {
            /* The image used */
            background-image: url(img/ice.jpg);

            /* Full height */
            height: 98%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }   
    </style>
        

    <script src="../dog.js"></script>
</html>